body{
	margin: 0;
	padding: 0;
	font-family: 'Inter';
}

p{
	line-height: 1.5rem;
}

ul{
	line-height: 1.5rem;
}
.header-div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-div h2{
	font-family: 'Oswald';
	font-style: normal;
	font-size: 2rem;
	margin-left: 4.5rem;
}

.header-div a{
	font-family: 'Inter';
	font-style: normal;
	font-size: 1.2rem;
	text-decoration: none;
	color: #000000;
}

.menu-div{
	display: flex;
	justify-content: space-evenly;
	width: 60%;
}

.banner-div{
	margin-top: 1rem;
	height: 10rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.div-skeleton{
	width: 80%;
}
.banner-div h3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 5rem;
	margin: 0;
}

.home-banner{
	background-image: url('Lithuania-map.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	opacity: 0.7;
}

.main-page-text-div{
	display: grid;
	grid-template-columns: 40% 55% ;
}


.profile-pic{
	width: 85%;
}

.main-skeleton{
	display: flex;
	align-items: center;
	justify-content: center;
}

.sub-skeleton{
	width: 60%;
}

.gallery-6-grid{
	margin-top: 3rem;
	display: grid;
	grid-template-columns: 33% 33% 33% ;
	grid-template-rows: 47% 47% ;
	grid-row-gap: 6%;
}

.gallery-6-grid img{
	width: 80%;
	height: 90%;
}

.hidden-background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255, 0.85);
    z-index: 100;
}

.pop-up-div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pop-up-sub-div{
	width: 60%;
    height: 80vh;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pop-up-sub-sub{
	width: 80%;
	display: grid;
    grid-template-columns: 50% 50%;
}

.pop-up-img{
	width: 10rem;
}

.kalimba{
	background-image: url(kalimba.jpg);
}


.mate{
	background-image: url(mate.jpg);
}

.fotos{
	background-image: url(fotos.jpg);
}

.vino{
	background-image: url(vino.jpg);
}

.dibujo{
	background-image: url(dibujo.jpg);
}


.letra{
	background-image: url(letra.jpg);
}
.columpio{
	background-image: url(columpio.jpg);
}

.museo{
	background-image: url(cat.jpg);
}

.asama{
	background-image: url(asama.jpg);
}

.hiroshima{
	background-image: url(hiroshima.jpg);
}

.ticket{
	background-image: url(ticket.jpg);
}

.polaraid{
	background-image: url(polaraid.jpg);
}


.poncho{
	background-image: url(poncho.jpg);
}

.vaca{
	background-image: url(vaca.jpg);
}

.chiquita{
	background-image: url(chiquita.jpg);
}

.guitarra{
	background-image: url(guitarra.jpg);
}

.cuarto{
	background-image: url(cuarto.jpg);
}

.achiras{
	background-image: url(achiras.jpg);
}


.snow{
	background-image: url(snow.jpg);
}

.shirt{
	background-image: url(shirt.jpg);
}

.shadow{
	background-image: url(shadow.jpg);
}

.spot{
	background-image: url(spot.jpg);
}

.table{
	background-image: url(table.jpg);
}

.dibujos{
	background-image: url(dibujos.jpg);
}

.cerveza{
	background-image: url(cerveza.jpg);
}

.praga{
	background-image: url(praga.jpg);
}

.cami{
	background-image: url(cami.jpg);
}

.museum{
	background-image: url(museum.jpg);
}

.berlin{
	background-image: url(berlin.jpg);
}

.libro{
	background-image: url(libro.jpg);
}


.pop-up-preview{
	background-size: cover;
	background-position: center;
	width: 15rem;
	height: 15rem;
	justify-items: center;
	align-items: center;
}


.flex-img-div{
	margin-top: 2rem;
	background-size: cover;
	width: 18rem;
    height: 18rem;
    background-position: center;
}
.hidden{
	display: none;
}

.scroll{
	overflow-y: scroll;
	height: 70vh;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.4); }

/*.pop-up-preview { transition: all .2s ease-in-out; }
.pop-up-preview:hover { transform: scale(1.4); }
*/
.close-icon{
	width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    margin-right: 2rem;
}

.display{
	display: flex;
}